[submodule "App"]
	path = App
	url = ../Elastos.Essentials.App.git
[submodule "Plugins/AppManager"]
	path = Plugins/AppManager
	url = ../Elastos.Essentials.Plugins.AppManager
[submodule "Plugins/Carrier"]
	path = Plugins/Carrier
	url = ../Elastos.NET.Carrier.Cordova.SDK.git
[submodule "Plugins/DID"]
	path = Plugins/DID
	url = ../Elastos.DID.Cordova.SDK.git
[submodule "Plugins/Fingerprint"]
	path = Plugins/Fingerprint
	url = ../Elastos.Essentials.Plugins.Fingerprint.git
[submodule "Plugins/Hive"]
	path = Plugins/Hive
	url = ../Elastos.NET.Hive.Cordova.SDK.git
[submodule "Plugins/PasswordManager"]
	path = Plugins/PasswordManager
	url = ../Elastos.Essentials.Plugins.PasswordManager.git
[submodule "Plugins/Wallet"]
	path = Plugins/Wallet
	url = ../Elastos.Essentials.Plugins.Wallet.git
[submodule "ToolChains"]
	path = ToolChains
	url = ../Elastos.Essentials.ToolChains.git
