[submodule "App"]
	path = App
	url = ../Elastos.Essentials.App.git
[submodule "Plugins/EssentialsIntent"]
	path = Plugins/EssentialsIntent
	url = ../Elastos.Essentials.Plugins.Intent.git
[submodule "Plugins/Fingerprint"]
	path = Plugins/Fingerprint
	url = ../Elastos.Essentials.Plugins.Fingerprint.git
[submodule "Plugins/PasswordManager"]
	path = Plugins/PasswordManager
	url = ../Elastos.Essentials.Plugins.PasswordManager.git
[submodule "Plugins/Wallet"]
	path = Plugins/Wallet
	url = ../Elastos.Essentials.Plugins.Wallet.git
[submodule "SDK/Connectivity/Cordova"]
	path = SDK/Connectivity/Cordova
	url = ../Elastos.Connectivity.Client.Cordova.SDK.git
[submodule "SDK/Connector/Cordova"]
	path = SDK/Connector/Cordova
	url = ../Elastos.Essentials.Connector.Client.Cordova.git
[submodule "SDK/Web3Provider"]
	path = SDK/Web3Provider
	url = ../Elastos.Essentials.InAppBrowserWeb3Provider.git
[submodule "ToolChains"]
	path = ToolChains
	url = ../Elastos.Essentials.ToolChains.git
[submodule "Tests"]
	path = Tests
	url = ../Elastos.Essentials.Connectivity.Tests.git

