language: node_js
sudo: true

matrix:
  include:
    - language: android
      dist: trusty
      env: NODEJS_VERSION=13 NDK=r18b BUILD_TARGET=all BUILD_PLATFORM=android DEPLOY=TRUE CACHE_NAME=android
      if: NOT tag IS present OR tag !~ /^(daily)/
      android:
        components:
          - tools
          - platform-tools
          - build-tools-28.0.3
          - android-28
        licenses:
          - 'android-sdk-preview-license-.+'
          - 'android-sdk-license-.+'
          - 'google-gdk-license-.+'

before_install:
  - wget -q https://services.gradle.org/distributions/gradle-5.4.1-bin.zip
  - sudo unzip -q gradle-5.4.1-bin.zip -d $TRAVIS_HOME/gradle/
  - export PATH=$TRAVIS_HOME/gradle/gradle-5.4.1/bin:$PATH

  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew cask uninstall java;
      gem install cocoapods;
      pod setup;
      pod repo update;
      wget -q https://dl.google.com/android/repository/sdk-tools-darwin-4333796.zip;
      sudo unzip -q sdk-tools-darwin-4333796.zip -d $TRAVIS_HOME/android-sdk/;
      export ANDROID_HOME=$TRAVIS_HOME/android-sdk;
      sudo chmod -R 777 $ANDROID_HOME;
      wget -q https://dl.google.com/android/repository/android-ndk-${NDK}-darwin-x86_64.zip;
      sudo unzip -q android-ndk-${NDK}-darwin-x86_64.zip -d $TRAVIS_HOME/;
      export ANDROID_NDK_HOME=$TRAVIS_HOME/android-ndk-${NDK};
      export PATH=$ANDROID_HOME/tools/bin:$ANDROID_HOME/tools:$ANDROID_HOME/build-tools:$PATH;
      echo y | sudo sdkmanager "build-tools;28.0.3";
    else
      echo y | sdkmanager "ndk-bundle";
      echo y | sdkmanager "cmake;3.6.4111459";
      echo y | sdkmanager --channel=3 --channel=1 "cmake;3.10.2.4988404";
      echo y | sdkmanager "lldb;3.1";
      export ANDROID_NDK_HOME=$ANDROID_HOME/ndk-bundle;
    fi

install:
  - nvm install ${NODEJS_VERSION}
  - npm install -g cordova @ionic/cli
  - if [[ "$TRAVIS_EVENT_TYPE" == "cron" && "$TRAVIS_BRANCH" == "master" && "$DEPLOY" != "" ]]; then
      .ci_scripts/checkCommit.sh;
      ret=$?;
      if [[ "$ret" -ne 1 ]]; then
        echo "no commit, do not upload apk!";
        DEPLOY="";
      fi;
      BUILD_TARGET=all;
      openssl aes-256-cbc -K $encrypted_77a9a519d93d_key -iv $encrypted_77a9a519d93d_iv -in trinity-secret.tar.enc -out trinity-secret.tar -d;
      tar xvf trinity-secret.tar;
      mv google-services.json Runtime;
      mv GoogleService-Info.plist Runtime;
      export COMMITID=$(git log --format=%h -1);
      export APPSUFFIX=$(date +'%Y%m%d%H')-$COMMITID;
      export TRAVIS_TAG="daily"-$APPSUFFIX;
      export APPNAME=Essentials-${APPSUFFIX}.apk;
    else
      DEPLOY="";
    fi

script:
  - if [[ "$DEPLOY" != "" ]]; then
      sed -i "s/versionName \"[0-9.]*/&.${COMMITID}/" $TRAVIS_BUILD_DIR/App/scripts/patches/after_platform_add_android/build_gradle.patch;
    fi
  - export APK_PATH=$TRAVIS_BUILD_DIR/App/platforms/android/app/build/outputs/apk/debug
  - $TRAVIS_BUILD_DIR/ToolChains/bin/build $BUILD_TARGET -pf $BUILD_PLATFORM --build
  - ls -l $APK_PATH

after_success:
  - if [[ "$DEPLOY" != "" ]]; then
      if [[ "$UNSIGNED" == "" ]]; then
        cd $TRAVIS_BUILD_DIR/Runtime;
        cordova build android --debug -- --keystore="../trinity.jks" --storePassword=$storepass --password=$storepass --alias=trinity;
      fi;
      cd $APK_PATH;
      cp app-debug.apk $APPNAME;
      ls -l;
    fi

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  # timeout: 1000
  cocoapods: true
  directories:
  - $HOME/.m2
  - $HOME/.gradle
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
  - $HOME/.cocoapods/

# notifications:
#   email:
#   - raozhiming@trinity-tech.io
#   - benjaminpiette@elastos-fusion.org

before_deploy:
  # Set up git user name and tag this commit
  - git config --local user.name $USER_NAME
  - git config --local user.email $USER_EMAIL
  - git tag $TRAVIS_TAG

deploy:
  provider: releases
  api_key: $GIT_TOKEN
  file_glob: true
  file: Essentials*.apk
  skip_cleanup: true
  prerelease: true
  on:
    condition: $DEPLOY != ""

env:
  global:
  - secure: oUI7RH8tkBaAdhSYAjkksdTpwzlT9nYEwDmX4AP7GZXmGZgg5OjN72QNiYGuIN/ffh9Um2ih8Yxg1Gg/tVgPtFUZxmAwgtZ/UMxrAe+coRZ+oAFAhoIqxiqJN2NwM5CPnOOJEZ8N95JEKlWOq3oSpZ3NRjWS6d5TLpWwvpSvvuqtLvrx0vJxnJkL+D2MvPwzeK4sUqxiDslMEKXGvz02K5P5Ws8HsmkL9pG2IVgAHo4pa2kLbKkrB5jFIWS9l65g0dzSjYpmz1ww1NX/rx26cqSwyO9hA209ya+AKXWNpT6m/0ijI0teHG0wWm+UGzjdX40s8Db6Xq7dxCurnXHFQSJ/fXpZfd6ALBnjLJbD+Y99bzw+nH7iKeGiD7d9J9n6hREzjGVw6Ak+AmbRCXcVJcw+22q+P9gcH+MCfgp7kSA3QHMI6kFBdgIeO9sulbpVS557MHPMVLO2fJq+PI7gsNS/2wwPT3GRrynGdZmrEBHSO+iIu/KXPIJGUqmHJ/RM2t6734KPN1aHr5BDwhaSkWrp/7kNKOOoHczf69uiffchAVZb/m+koLSEXm7sNrlojzYt/86/B60inqxKLFl5e1olL4C5EXTY41oFgvLn1tF144fG8npKdQ1Jy5SAwg7fxPc6ox5b4rqHOJ1FrIb9IbCG3jVRiDK6OtcTi+/o9gE=
  - secure: Xwot1HaiAnczLJ7NJ+CIO4ehIiT1/x+dY0OY//fzbh14S/nCNrzYqdXRGpRkaU/IiBGbmeRhoCEnEdPKMs/5hgC0qDVd6OhPxEGXYnbLBPS8gF5GZLEZbafVJ0jR1iJ3oV25Y897IGuqL3y8mlwKt0RRHLa+qWSGUjou/3983XO6c6Wwgue6imVFM6YAEJTy2K9JQKT+lIgsjFtSCjGLiHHt3JUqkm8v9ua7QCjXhf2vuG4TrpYDG2h8h+ezwrky00BuSPtUlZTBcZO6m9BVMvYwUC2PenMIQZXyXBGb0451TBYDdeK9a12u4sG10TmlIGvN17zLfdby7q1xOxuKWgh3/C+2uX1gr021M8KU63C93Adp48rCm8rvyr/Edkm5atVlAP7VVOaWeoX/UpDy8jfrejsQr6aw8k2rt6D7P1UWz15m3rbaiVTjbLd/AwCvmdFBw56J03zkbCMvdQUkSFSEcd0b0fihXgChHRQ3RLg0FwYuK9L9RaDckc4ASvZpzILvJg15s6D4S4RPEg5vqT+DAC2cL/nft04m4bEDEFpPJBVmVCgRZs2nF6llgQ4FnqSoaQE/1vek3pZSBCAvbCuVIo9rS1iKkq3gQ0aq2HD5ILLXkNULsbVBkZQaWz1DWabzZ1sffbiimZwx7To2D3hQrZt6rMl9MsZQIL5jCgQ=
